VIKUNJA_URL=https://vikunja.remote.url/api/v1
VIKUNJA_TOKEN=

# OpenAI Configuration
#AI_KOOG.OPENAI.ENABLED=true
#AI_KOOG.OPENAI.API_KEY=
#AI_KOOG.OPENAI.BASE_URL=https://api.openai.com
# Anthropic Configuration
#AI_KOOG.ANTHROPIC.ENABLED=true
#AI_KOOG.ANTHROPIC.API_KEY=
#AI_KOOG.ANTHROPIC.BASE_URL=https://api.anthropic.com
# Google Configuration
#AI_KOOG.GOOGLE.ENABLED=true
#AI_KOOG.GOOGLE.API_KEY=
#AI_KOOG.GOOGLE.BASE_URL=https://generativelanguage.googleapis.com
# OpenRouter Configuration
#AI_KOOG.OPENROUTER.ENABLED=true
#AI_KOOG.OPENROUTER.API_KEY=
#AI_KOOG.OPENROUTER.BASE_URL=https://openrouter.ai
# DeepSeek Configuration
#AI_KOOG.DEEPSEEK.ENABLED=true
#AI_KOOG.DEEPSEEK.API_KEY=
#AI_KOOG.DEEPSEEK.BASE_URL=https://api.deepseek.com
# Ollama Configuration (local - no API key required)
#AI_KOOG.OLLAMA.ENABLED=true
#AI_KOOG_OLLAMA_BASE_URL=http://localhost:11434

AI_MODEL_ID=""